.button-container {
    text-align: center;
  }
  
  .custom-button-res {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: blue;    
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 1px 1px 2px grey;
    box-shadow: 2px 2px 10px rgba(0, 81, 255, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .custom-button-res:hover {
    transform: scale(1.05); 
    box-shadow: 2px 2px 15px rgba(47, 0, 255, 0.7); 
  }
  
  .custom-button-res:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 5px rgba(0, 110, 255, 0.5);
  }
  