.vidasDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vida {
    width: 60px;
    height: 60px;
    justify-content: space-between;
    margin-inline: 9%;
    padding: 0;
  }