.luchador {
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  margin-left: 8%;
}
.texto{
  font-size: medium;
  font-weight: bold;
  color: honeydew;
  font-family: fantasy;
}
.imagenDiv {
  width: 60%;
  border-radius: 10px;
  margin-bottom: 5%;
}
.dado{
  margin-right: 10px;
  height: 10%;
  width: 10%;
}
.dado-container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  max-height: 70px;
}
.numero-aleatorio{
  font-family: fantasy;
  font-size: 40px;
  color: lime;
  font-weight: bold;
}
  
  